body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.card {
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

label {
  display: block;
  margin: 10px 0;
}

ul li {
  padding: 6px;
  background: #f3f3f3;
  margin-top: 5px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-top: 10px;
  cursor: pointer;
}
